src/AST/ArglistAST.java
src/AST/ArrayelemAST.java
src/AST/AssignlhsAST.java
src/AST/AssignmentAST.java
src/AST/AssignrhsAST.java
src/AST/CallAST.java
src/AST/ExpressionAST.java
src/AST/FunctionDeclarationAST.java
src/AST/IntLiterAST.java
src/AST/IntSignAST.java
src/AST/Node.java
src/AST/ParamAST.java
src/AST/ParamlistAST.java
src/AST/VarDeclAST.java
src/main/Visitor.java
src/main/Main.java
src/symbol_table/IDENTIFIER.java
src/symbol_table/PARAM.java
src/symbol_table/SCALAR.java
src/symbol_table/TYPE.java
src/symbol_table/VARIABLE.java
src/symbol_table/FUNCTION.java
src/symbol_table/SymbolTable.java
src/antlr/BasicLexer.java
src/antlr/BasicParser.java
src/antlr/BasicParserVisitor.java
src/antlr/BasicParserBaseVisitor.java
